@import 'utilities.css';
:root{
    --primary:#B6BBC4;
    --dark:#161A30;
    --pure:#31304D;
    --ternary:#FFE5E5;
    --light:#F0ECE5;
    --secondary:#070606;
}
body{
    font-family:'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color:var(--light);
    text-decoration: none;
    margin-right: 2rem;
    text-transform:uppercase;
    transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding:3rem 0 ;
}
.hero .left img{
    width: 350px;
}
.hero .right{
    color:var(--light)
}
.hero .right h6{
    font-size: 1.6rem;
    color:var(--primary);
    margin-bottom:0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height:1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
color:skyblue;
}
.hero .right p{
    line-height: 1.9;
    margin-bottom:2rem;
}
section{
    padding:6rem 0;
}
section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6 rem;
    font-weight: 800;
}
section.about h1 span{
    color:skyblue;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
}
section.about p{
    font-family: 'lato', sans-serif;
    color:var(--dark);
    line-height:1.9 ;
    margin-bottom: 2rem;
}
section.about .social{
    display:flex;
}
section.about .social a{
    background: var(--dark);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right:0.6rem ;
    transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;

}
.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color:skyblue;
}
.section-heading + p{
    color:var(--light);
    font-family: 'Lato' , 'sans-serif';
    margin-bottom: 6rem;
    text-align: center;
}
section.skills{
    background:var(--light);
}
section.skills .card-wrapper{
    color:var(--light);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem ;
    grid-row-gap:6rem;
}
section.skills .card-wrapper .card{
    background:var(--dark);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: .3s ease;
}
section.skills .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.skills .card-wrapper .card h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}
section.skills .card-wrapper .card p{
    font-family: 'lato' , sans-serif;
    color:var(--ternary);
    line-height: 1.6;
}
section.skills .card-wrapper .card:hover{
    background:var(--primary);
}
section.skills .card-wrapper .card:hover h2{
    color:var(--secondary);
}
section.skills .card-wrapper .card:hover p{
    color:var(--secondary)
}
section.certificates{
    background:var(--primary);
}
section.certificates .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:2rem;
}
section.certificates .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.certificates .card-wrapper .card .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(3, 14, 44, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--light);
    opacity: 0;
    transition: all .3s ease;
}
section.certificates .card-wrapper .card .overlay{
    color:var(--secondary);
    text-decoration: none;

}
section.certificates .card-wrapper .card img{
    height: 100%;
    width:100%;
}
section.certificates .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.contact p{
    color: var(--pure);
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 650;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--dark);
    font-weight: 600;
    margin-bottom: 4rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border:1px solid var(--primary);
}
section.contact input{
    padding:0.5rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--primary);
    font-size: 0.8rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
   outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--dark);
    color: var(--ternary);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
footer .footer-socials a{
    margin-right: 1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right: -1rem;
}















